.classe0 {
  color: blue;
}
.classe1 {
  color: blueviolet;
}
.classe2 {
  color: brown;
}
.classe3 {
  color: chartreuse;
}
.classe4 {
  color: chocolate;
}
.classe5 {
  color: crimson;
}
.classe6 {
  color: darkgoldenrod;
}
.classe7 {
  color: darkgreen;
}
.classe8 {
  color: darkorange;
}
.classe9 {
  color: darkslategray;
}
.classe10 {
  color: greenyellow;
}
